<p>
    Nothing like writing in assembly to make one appreciate the modernity of 
    today's languages. One simply cannot program in assembly
    without understanding the inner workings of the computer, since the
    instructions are the direct commands given to the CPU.
</p>
<p>
    This was the sixth and final project of my assembly language course, which takes ten 
    integers and displays the sum and average.
</p>
<p>
    Read a bit more about it <a href="https://github.com/andre-ortega/IA32-assembly-demo">here</a>.
    
</p>
