<p>
An audio looper is a device that allows a user to repeat and layer multiple audio files 
simultaneously to compose a piece of music. Myself and two others created a fully-functioning
multithreaded looper in C++ as our final requirement for graduation. Complete with the basics
like recording, tracking, bpm manipulation, panning, gaining, and a reversal fx feature, the our 
team built an entire working app around my initial design plan.
</p>
<p>
Source code and reports are available <a href="https://github.com/muhnkee/AudioLoop">here</a>.
</p>
