<p>
    I bricked my Linux distro once. While attempting to remove
    executable privileges from all files in a directory, I typed 
    <span id="command">&nbsp;chmod 644 /*&nbsp;</span>, omitted a necessary period, 
    and removed any ability to execute the basic /bin commands.
</p>
<p>
    After a painful reinstall and reconfiguration of my OS I wrote a<span class="highlight"> Python 
    script </span> that copies my custom config files to a backup directory which is then pushed to the 
    <a href="https://github.com/andre-ortega/BackupConfigs">hub</a> using<span class="highlight"> 
    bash.</span>
</p>
<p>
    Hasn't happened again but now I am prepared.
</p>
