<p>
    To be completely honest, I really don't enjoy talking about myself. So to make this process
    easier for you and I, I bought a domain, configured the DNS to point to another one of
    my Heroku partitions, and wrote this site. It's a fairly simple static site that hopefully
    works as intended.
</p>
<p>
    I've made the source code available <a href="https://github.com/andre-ortega/drega">here</a>.
</p>
