<p>
    To be completely honest, I don't enjoy talking about myself much. Therefore, to make this 
    process easier for you and I, I purchased a domain, configured the DNS to point to another 
    one of my Heroku allocations, and wrote this site. It's a fairly simple static site which 
    hopefully serves its purpose.
</p>
<p>
    Originally, this domain was going to be the host of a different project, but that idea
    has migrated elsewhere. The source code is currently available 
    <a href="https://github.com/andre-ortega/drega">here</a>.
</p>
