<p>
    To be completely honest, I don't enjoy talking about myself much. Therefore, to make this 
    process easier for you and I, I purchased a domain,<span class="highlight"> configured the DNS 
    </span>to point to another one of my<span class="highlight"> Heroku </span>allocations, and wrote this site. It's a fairly simple 
    static site that will serve its purpose.
</p>
<p>
    Originally, this domain was going to be the host of a different project, but that idea
    has migrated elsewhere. The source code is currently available 
    <a href="https://github.com/andre-ortega/drega">here</a>.
</p>
