<p>
    The pandemic fundamentally changed the perception of a local creative with a certain
    name. As a result, this indie artist is pivoting their musical campaign to align with a
    new title.
</p>

<p>
    This project was requested as both a standard site with a
    selection of features made available to invited members and admin, who will share
    ideas and deliverables in a highly collaborative process. Developing in 
    <span class="highlight">React</span>.
</p>
