<p>
    A hashmap is also commonly referred to as a dictionary, and for this project, the hashmap was
    used to store an actual list of words from a dictionary. Every word is 'hashed' into an integer,
    and stored. You can then check the spelling of a word by seeing if it hashes to a word already
    present. If the word is not present (mispelled), suggestions are given by finding the closest 
    matches using the Levenshtein Distance formula. Also written in C.
</p>
<p>
    <a href="https://github.com/andre-ortega/hashmap-spellcheck">Hubalubbadubdub</a>
</p>
