<p>
    Hello, this is my website. It is a simple ExpressJS 
    app deployed on a Heroku server, here to 
    showcase a portion of the programming work I 
    have completed in the past four years.
</p>
<p>
    I transitioned from the medical field where I was a proud first responder, and
    having recently earned my second bachelor's in computer science, 
    I also wanted the knowledge required to build sites and web services to generate 
    public interest in my side projects. I therefore completed
    a substantial web development bootcamp as well.
</p>
<p>
    As can be inferred, I am an innately curious person who loves 
    to learn and apply myself, no matter how perceptively difficult the task.
</p>
<p>
    Take a look and see if I may meet your needs. Feel free to reach out with any questions. 
</p>
<p id="signature">
    -AO
</p>
