<p>
    Hello! This is my portfolio site. I am a person with a passion for solving problems who
    recently graduated with a second bachelor's in computer science, which gave me the great 
    opportunity to complete many projects of substantial size in several technologies.
</p>

<p>
    While my time at university gave me the invaluable experience of computational principles,
    I also sought experience with modern web technologies so I could create public interest to
    side projects, therefore I created a substantial web development bootcamp as well :)
</p>
<p>
    I have worked with many techies in small groups to complete projects, as well as on my own to
    further my interests. I am a self-starter with goals, one of which is to work with an effective
    and communicative development team.
</p>

<p id="signature">
    -AO
</p>
