<p>
    Hello! You have found my website. It is a simple ExpressJS 
    app deployed on Heroku that showcases my work in a way that 
    I feel is more effective than other methods. I update this 
    site frequently to serve my current goals and it will undergo 
    a bit of a transformation after I am hired full-time.
</p>
<p>
    About myself: I have been programming for over four 
    years now, putting together small passion projects 
    while completing coursework for my university. I 
    transitioned from the medical field, where I was a 
    proud EMS responder helping my community, and
    while I was passionate about my work at the time, 
    I always knew that I would make a path towards 
    programming or engineering. I have therefore since 
    graduated with my second bachelor's degree in computer 
    science.
</p>
<p>
    As you can likely infer from this short summary thus far, I
    am an innately curious person who loves to learn, and am
    certainly no stranger to the stresses of hard work. However,
    it would be a incorrect to say that I dislike the process.
</p>
<p>
    Please take a look around this site and see if my knowledge 
    may meet your needs. While sites like LinkedIn, Indeed, etc.
    are okay, I much prefer you getting to know me in a medium
    in which I have more creative control. Feel free to reach out
    with any questions. 
</p>
<p class="pcenter">
    Thank you for your time and your attention.
</p>
