<p>
    Hello, this is my website. This is a simple ExpressJS 
    app deployed on a Heroku server, its current purpose is
    to showcase a portion of the programming work I 
    have completed in the past four years.
</p>
<p>
    I transitioned from EMS where I was a proud first responder and 
    recently earned my second bachelor's, I therefore now have
    both a premedical degree and a another in 
    computer science. After graduation I also wanted the 
    knowledge required to build sites and web services to generate 
    public interest in my side projects, so I completed
    a substantial web development bootcamp as well.
</p>
<p>
    As can be inferred, I am an innately curious person who loves 
    to learn and apply myself, no matter how perceptively difficult the task.
</p>
<p>
    Take a look and see if I may meet your needs. Feel free to reach out with any questions. 
</p>

<p id="signature">
    -AO
</p>
