<p>
    Hello! You have found my website. This is a simple ExpressJS 
    app deployed within a Heroku server, it is currently being 
    used to showcase a small portion of the programming work I 
    have accomplished in the past four years.
</p>
<p>
    About me: I have been putting together passion projects 
    while completing coursework at university. I 
    transitioned from the medical field where I was a 
    proud EMS responder helping my community. 
    While I was passionate about my work, 
    I always felt my path would move me towards 
    programming and engineering. I have therefore since 
    graduated with my second bachelor's degree in computer 
    science.
</p>
<p>
    As can be inferred, I am an innately curious person who loves 
    to learn while being no stranger to the stresses of hard 
    work. I do however, love the process.
</p>
<p>
    Please take a look around this site and see if my knowledge 
    may meet your needs. Feel free to reach out with any questions. 
</p>
<p class="pcenter">
    Thank you for your time and your attention.
</p>
<p class="signature">
-AO
</p>
