<p>
    Hi there, this is my portfolio site. My projects demonstrate my ability to deploy fullstack
    applications and learn new technologies quickly and apply them effectively.
</p>

<p>
    I've recently graduated with my second bachelor's in computer science. While the concepts
    taught are essential, I also completed a notable web development bootcamp so that I could 
    independently launch my own projects.
</p>

<p>
    If you found this site through an application, reach out so we can discuss further. My 
    current goal is to join an effective software development team.
</p>

<p id="signature">
    -AO
</p>
