<p>
    Hi there, You have found my portfolio site. It is here to demonstrate the fact that I have 
    completed several substantial projects using many technologies.
</p>

<p>
    I recently graduated with my second bachelor's in computer science. However, while
    the concepts taught at university are essential, I also completed a substantial web development
    bootcamp so I could launch my own projects.
</p>

<p>
    I have a wide range of skillsets that are currently in high demand. My main goal, however,
    is to once again be a part of an responsible, effective, and communicative development team.
</p>
<p>
    If I reached out to you, and you feel I meet your requirements, please reach out so we may 
    discuss further.
</p>

<p id="signature">
    -AO
</p>
