<p>
    This goofy project was created to demonstrate my proficiency in the basics of <span class="highlight"> C++</span>.
    My favorite aspect of the source code is how the game board is managed as a single pointer 
    that points to <span class="highlight">dynamically allocated</span> arrays of space pointers 
    that each represent a space on the board, which are assigned random properties on each game 
    load. Use Indy's items to get the golden idol without dying.  Includes an intermediately 
    sophisticated <span class="highlight"> GNU makefile.</span>
</p>
<p>
    <a href="https://github.com/andre-ortega/IndyJones" target="_blank">Github</a>.
</p>
