<p>
    The Message Passing Interface (MPI) is a method of running a single program across 
    multiple machines, combining them into a single supercomputing cluster.
</p>
<p>
    Throughout this course I wrote parallel programs using a variety of methods (Multithread
    CPU, combination CPU/GPU, DGX-2 supercomputing) on increasingly powerful systems, and 
    benchmarked their performance with each run. The 
    <a href="https://github.com/andre-ortega/MPI-programming-final">project final</a>
    was run on the<span class="highlight"> MPI supercluster</span>.
</p>
