<p>
    This project was developed in preparation for some freelance work around the Django web framework.
    Using test-driven development, PostgreSQL, and successfully deployable on Travis-CI servers, users
    may store recipes with associated searchable ingredients and tags, and upload images for that recipe.
</p>
<p>
    This was heavily back-end focused, using only Django's built-in template pages.
</p>
<p>
    Code here on <a href="https://github.com/andre-ortega/recipe-app-api">github</a>.
</p>
