<p>
    This project was developed in preparation for some freelance work around the 
    <span class="highlight"> Django </span> web framework.  Using
    <span class="highlight"> test-driven development </span>, 
    <span class="highlight"> PostgreSQL </span>, and successfully deployable on
    <span class="highlight"> Travis-CI </span>servers, users may store recipes with associated 
    searchable ingredients and tags, and upload images for that recipe.
</p>
<p>
    This was heavily back-end focused, using only Django's built-in template pages.
</p>
<p>
    Code here on <a href="https://github.com/andre-ortega/recipe-app-api" target="_blank">github</a>.
</p>
