<p>
This project was the most robust assignment for the Operating Systems course.
To demonstrate my knowledge of the Linux OS, I created a shell prompt in the C
language, allowing a user to run commands as any shell should. It is capable of running programs 
in both foreground and background, manage spawned processes, route input and output to specified 
files, and override native signal operations of the Linux OS.
</p>
<p>
    <a href="https://github.com/andre-ortega/smallsh">Github</a>
</p>
