<p>
    This program allows a user to play Sudoku directly in the terminal! While providing the basic 
    functions needed to play the game, the real power behing this program is the ability to solve
    any solvable Sudoku puzzle using a recursive backtracing algorithm. Written in C.
</p>
<p>
    More info on my <a href="https://github.com/andre-ortega/sudoku-solver">GitHub</a>
</p>
