<p>
    This program allows a user to play Sudoku directly in the terminal, providing the basic 
    functions needed to play the game. However, the real power behind this program lies in 
    the ability to solve any solvable Sudoku puzzle using a
    <span class="highlight">recursive backtracing</span> algorithm. 
    <span class="highlight">Written in C</span>.
</p>
<p>
    More info on my <a href="https://github.com/andre-ortega/sudoku-solver" target="_blank">GitHub</a>.
</p>
