<p>
    A actually started my programming journey in<span class="highlight"> Python </span>before I 
    decided to acquire my CS degree. I demonstrated my confidence in the language by scoring in 
    the<span class="highlight"> top 2% </span> of people who attempt the Python assessment on LinkedIn.
</p>
<p>
    These are a couple of<span class="highlight"> test-driven </span> programs that I was 
    responsible for, one being a method that perfectly converts any number into either little 
    or big-endian bytestrings, and another that enforces password rules.
</p>
<p>
    <a href="https://github.com/andre-ortega/TestDrivenDevelopment">Endian conversion</a> 
    and <a href="https://github.com/andre-ortega/HandsOnTDD">Password enforcer</a>
</p>
