<p>
    I get called a 'hipster coder' a lot for making tools like this, but for some reason the 
    process of writing code in<span class="highlight"> Tmux and Vim </span>is one of the best ways to regularly feel 
    like a bona fide dev.
</p>
<p>
    Wanting a terminal window dedicated to constantly displaying relevant files, I wrote a simple
    <span class="highlight"> shell script </span>the does this while updating automatically using 
    <span class="highlight"> inotify tools</span>. Made an alias since I use it every day.
</p>
<p>
    <a href="https://github.com/andre-ortega/Treek/blob/main/treek.sh">Hub.</a>
</p>
