<p>
    Fullstack cloud application. A yelp clone utilizing several technologies including Express, EJS, Bootstrap,
    Mongoose with <span class="highlight">MongoDB Atlas</span>, Session, Helmet, Mapbox,
    Cloudinary, and more.
</p>
<p>
    <span class="highlight">Currently hosted on Heroku</span> and linked to cloud services,
    you may demo the app by creating an account, adding campgrounds, and leaving reviews 
    for fictional campsites
    <a href="https://nameless-scrubland-88013.herokuapp.com/" target="_blank">here</a>.
</p>
<p>
    Details and source code available on <a href="https://github.com/andre-ortega/YelpCamp" target="_blank">GitHub</a>
</p>
