<p>
    This was the largest project completed for an intensive WebDev bootcamp. It's a
    Yelp clone utilizing several technologies including Express, EJS, Bootstrap, Mongoose with 
    <span class="highlight"> MongoDB </span> Atlas, Session, Helmet, Mapbox, Cloudinary, and more.
</p>
<p>
    <span class="highlight">Currently deployed on Heroku </span>and linked to cloud technologies,
    you may browse the app by creating an account, adding campgrounds, and leaving reviews 
    for fictional campsites
    <a href="https://nameless-scrubland-88013.herokuapp.com/">here</a>.
</p>
<p>
    Details and source code available on <a href="https://github.com/andre-ortega/YelpCamp">GitHub</a>
</p>
