<!DOCTYPE html>
<!-- layout('layouts/boilerplate') -->

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Andre</title>
    <meta name="Temp Name" content="Login page for drega.dev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <h1 class="title">- = HIT RETURN = -</h1>
    
    <h1 class="phones">d-_-b</h1>

    <div class="detail"><p class="members"><a href="">Software</a></p></div>
    <div class="censored"><p class="members"><a href=""></a></p></div>
    <div class="detail2"><p class="members"><a href=""></a></p></div>

    <div class="container">
        <form action="/nada" method="POST">

            <div class="input-container">
                <input required type="text" name="username"/>
                <label>Username</label>
            </div>

            <div class="input-container">
                <input required type="password" name="password" />
                <label>Password</label>
            </div>

            <div class="input-container">
                <input type="submit" value="Enter" class="lebutt">
            </div>

        </form>
    </div>

    <footer>
        <p>&copy; 2022 ANDRE</p>
    </footer>
    
    <script>
        let butt = document.querySelector(".lebutt");
        butt.disabled = false;
    </script>
</body>
