<!DOCTYPE html>
<!-- layout('layouts/boilerplate') -->

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>d-_-b</title>
    <meta name="Drega" content="Login page for drega.dev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/login.css">

</head>

<body style="background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(dre.jpg)">
    <h1>d-_-b</h1>
    <h2>[...]</h2>

    <main>
        <form action="/nada" method="post">
            <label class="form-label" for="username">username</label>
            <input class="text" type="text" name="username" value="username" id="username" required>
            <label class="form-label" for="password">password</label>
            <input class="text" type="password" name="username" value="username" id="password" required>
        </form>
    </main>

    <footer>
        <p>&copy; 2022 DREGA</p>
    </footer>
    
</body>
