<!DOCTYPE html>
<!-- layout('layouts/boilerplate') -->

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>d-_-b</title>
    <meta name="description" content="My Page Description">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <h1>d-_-b</h1>
    <h2>[...]</h2>

    <footer>
        <p>&copy; 2022 DREGA</p>
    </footer>
    
</body>
