<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheets/success.css?v=1.0">
</head>

<body>
    <p>success</p>
    
    <script src=""></script>
</body>
</html>

