/* steal like an artist 
 * https://codepen.io/Bergability/pen/ByqyOP
 */

main {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    transition: background 300ms ease-in 200ms;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/dark.png); 
    height: 95vh;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    color: #f2f2f2;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 120px right 50%;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    background-color: black;
}

.titlebox {
	position: absolute;
    top: 6%;
    left: 50%;
    margin-top: -50px;
    margin-left: -335px;
    height: 70px;
    width: 650px;
    background-color: black;
    border: none;
    border-bottom: 2px solid #d79921;
}

h1 {
    vertical-align: middle;
    bottom: 4px;
}

.title {
    background-color: #000000;
    position: relative;
    display: inline-block;
    left: 20px;
}

.hello {
    margin-top: 150px;
    position: absolute;
    left: 5%;
    height: 500px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: black;
    color: #f2f2f2;
    text-align: left;
    border: 4px solid #d79921;
    z-index: 2;
}

::selection {
    background: #5d0006;
}

.pcenter {
    text-align: center;
    margin-top: 2rem;
}

.signature {
    text-align: right;
}

::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.portfolio {
    position: absolute;
    top: 10%;
    height: 2000px;
    width: 100%;
    background-color: black;
    z-index: 3;
    opacity: 0;
}

.portfolio-title {
    text-align: center;
    position: sticky;
    padding: 15px 0px;
    top: 0px;
    width: 100%;
    background-color: black;
    border-bottom: 2px solid #d79921;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 25px;
}

.item {
    width: 800px;
    height: 300px;
    padding-bottom: 10px;
    border: 4px solid #282828;
}

.item-title {
    border-bottom: 4px solid #282828;
    text-align: center;
}

.item-inner {
    margin: 10px;
}

.item-img-container {
    float: left;
    display: inline;
    height: 220px;
    width: 400px;
}

.item-img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.item-description {
    margin-left: 52%;    
    text-align: left;
}

.hide {
    transition: 0.75s;
    opacity: 0;
    z-index: 1;
}

.show {
    z-index: 3;
    transition: 0.75s;
    opacity: 1;
}

.spacer {
    height: 250px;
}

a:link{
    color: #ebdbb2;
}

a:visited {
    color: #ebdbb2;
}

footer {
    display: inline;
    position: absolute;
    top: 200%;
    right: 2%
}
