
html {
    padding: 0;
    margin: 0;
}

main {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    transition: background 300ms ease-in 200ms;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/dark.png); 
    height: 95vh;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    color: #f2f2f2;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 120px right 50%;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    background-color: black;
}

.titlebox {
	position: absolute;
    top: 4%;
    height: 70px;
    width: 100%;
    background-color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline {
    border-bottom: 2px solid #d79921;
    width: 80%;
}

h1 {
    vertical-align: middle;
    bottom: 4px;
    font-size: 2rem;
}

.title {
    background-color: #000000;
    position: relative;
    display: inline-block;
}

.hello-container {
    display: flex;
    justify-content: center;
}

.face {
    display: inline;
    margin-top: 10px;
    margin-right: 15px;
    float: left;
    max-height: 100px;
    border-radius: 50%;
}

.hello {
    display: inline;
    z-index: 2;
    position: absolute;
    height: 380px;
    width: 400px;
    border: 4px solid #d79921;
    margin-top: 150px;
    margin-right: 220px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: black;
    color: #f2f2f2;
    text-align: left;
}

.animate-frame-one {
    bottom: 10%;
    transition: 0.75s;
}

.animate-frame-two {
    bottom: 4%;
    transition-timing-function: ease-in;
    transition: 0.75s;
}

.animate-frame-three {
    bottom: 7%;
    transition-timing-function: ease-out;
    transition: 0.5s;
}

.animate-frame-four {
    bottom: 5%;
    transition: 0.5s;
}

#down-arrow {
    position: absolute;
    right: 5%;
    font-size: 10rem;
    color: #555555;
}


::selection {
    background: #83a598;
}

#signature {
    text-align: right;
}

::-moz-selection {
  background: #83a598; 
}

.portfolio {
    position: absolute;
    top: 10%;
    height: 2500px;
    width: 100%;
    background-color: black;
    z-index: 3;
    opacity: 0;
}

.portfolio-title {
    text-align: center;
    position: sticky;
    padding: 15px 0px;
    top: 0px;
    width: 100%;
    background-color: black;
    border-bottom: 2px solid #d79921;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 800px [col-start]);
    grid-auto-rows: 310px;
    grid-gap: 20px;
    justify-content: center;
}

.item {
    width: 800px;
    height: 300px;
    border: 4px solid #282828;
    margin: 0 auto;
}

.item-title {
    border-bottom: 4px solid #282828;
    text-align: center;
}

.item-inner {
    margin: 10px;
}

.item-img-container {
    float: left;
    display: inline;
    height: 220px;
    width: 400px;
}

.item-img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.item-description {
    margin-left: 52%;    
    text-align: left;
}

.hide {
    transition: 0.75s;
    opacity: 0;
    z-index: -1;
}

.show {
    z-index: 3;
    transition: 0.75s;
    opacity: 1;
}

.spacer {
    height: 250px;
}

a:link{
    color: #ebdbb2;
}

a:visited {
    color: #ebdbb2;
}

footer {
    display: inline;
    position: absolute;
    top: 200%;
    right: 2%
}

#command {
    background-color: #404040;
    border-radius: 4px;
}

.highlight {
    background-color: #234538;
    border-radius: 4px;
}

#grey {
    color: #999999;
}

#finalContainer {
    margin-top: 40px;
}

.hideForm {
    opacity: 0;
}

.showform {
    opacity: 1;
}

.showFade {
    opacity: 0.8;
}

#fadeOut {
    display: none;
    position: fixed;
    z-index: 4;

    width: 100%;
    height: 100%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    background-color: black;
}

#formContainer {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    background-color: black;
    text-align: left;
    border: 4px solid #8f3f71;
    border-radius: 4px;
    width: 40%;
    max-width: 340px;
    min-width: 300px;
    height: 420px;
    padding: 10px;
}

@supports (-moz-appearance:none) {
  #formContainer {
	height: 430px;
  }
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-left: 10px;
}

.nameDivContainer {
    display: flex;
    flex-wrap: wrap;
}

.nameDiv{
    //background-color: grey;
    display: inline-block;
    width: 170px;
}

#firstName {
    width: 80%;
    display: inline;
}

#lastName {
    width: 80%;
    display: inline;
    //margin-left: 50px;
}

#email {
    width: 90%;
    max-width: 308px;
}

input {
    display: block;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
}

textarea{
    display: block;
    width: 90%;
    max-width: 308px;
    margin-top: 5px;
    margin-left: 10px;
}

#buttons {
    margin-left: 10px;
    margin-top: 25px;
    text-align: center;
}

button {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    border: 4px solid #d79921;
    border-radius: 4px;
    padding: 10px 24px;
    background-color: black;
    color: #f2f2f2;
    transition: 0.25s;
}

button:hover {
    border-color: #8f3f71;
    box-shadow: 0 0.5em 0.5em -0.4em white;
    transform: translateY(-0.20em);
    cursor: pointer; /* :D */
}

#send:hover {
    border-color: #b8bb26;
    background-color: #ebdbb2;
}

#cancel:hover {
    border-color: #cc241d;
}

.flash-container {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    background-color: #8ec07c;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    z-index: 5;
    left: 50%;
    top: 50%;
    transition: 2s;
}

.flash-container-gone {
    height: 0%;
    width: 0%;
    font-size: 0rem;
    transform: rotate(180deg);
    left: 65%;
    top: 35%;
    transition: 2s;
    opacity: 0;
    background-color: #560002;
}

@media (min-width: 400px), (max-device-width: 832px){

	body {
		margin-left: auto;
        margin-right: auto;
        background-image: none;
	}

    .titlebox{
        top: 3%;
    }
    .portfolio {
        height: 4400px;
    }

    .portfolio-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px [col-start]);
        grid-auto-rows: 620px;
        grid-gap: 20px;
        justify-content: center;
    }

    .item {
        width: 340px;
        height: 560px;
    }

    .item-img-container {
        float: none;
        //display: block;
        height: 200px;
        width: 320px;
    }

    .item-description {
        margin-left: 0%;    
    }

    .hello {
        z-index: 2;
        margin-right: 0px;
        position: absolute;
        height: 450px;
        width: 300px;
        border: 4px solid #d79921;
        margin-top: 120px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        background-color: black;
        color: #f2f2f2;
        text-align: left;
    }

    #formContainer {
        height: 450px;
    }

	@supports (-moz-appearance:none) {
		#formContainer {
			height: 470px;
		}
	}
}

@media (min-width: 833px){

    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/dark.png); 
        transition: background 300ms ease-in 200ms;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top 120px right 50%;
    }

    .titlebox{
        top: 4%;
    }

    .portfolio {
        height: 2400px;
    }

    .portfolio-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, 800px [col-start]);
        grid-auto-rows: 310px;
        grid-gap: 20px;
        justify-content: center;
    }

    .item-img-container {
        float: left;
        display: inline;
        height: 220px;
        width: 400px;
    }

    .item {
        width: 800px;
        height: 300px;
        padding-bottom: 10px;
        border: 4px solid #282828;
    }

    .item-description {
        margin-left: 52%;    
    }

    .hello {
        z-index: 2;
        position: absolute;
        height: 360px;
        width: 380px;
        border: 4px solid #d79921;
        margin-top: 150px;
        margin-right: 220px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        background-color: black;
        color: #f2f2f2;
        text-align: left;
    }

    #formContainer {
        height: 380px;
    }

	@supports (-moz-appearance:none) {
		#formContainer {
			height: 400px;
		}
	}
}

@media (min-width: 1637px){
    .portfolio {
        height: 1400px;
    }

    .hello {
        margin-right: 220px;
    }
}

@media (min-width: 2500px){

    .portfolio {
        height: 1200px;
    }
}
